body{
    margin: 10px;
    padding: 0;
    box-sizing: content-box;
}
/*****************MENU*************/
nav{
    background-color: #f7e018!important;
}

ul li a {
    color: #333333;
    font-size: 20px;
    font-weight: bold;
    color: #24998d;
}
.collection{
    font-size: 16px;
}

/********************CANVAS*****************/
#canvas-parent{
    max-width: 100%;
    height: 100vh;
}

#canvas {
    position: relative;
    background-color: #9cbbcb;
    margin: 1em auto;
    max-width: 100%;
    height: 100%;
}
.ball {
    background-color: black;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
}

/*********************LISTE******************/
.btn-floating.btn-large{
    float: right;
}

td,th{
    font-size: 30px;
    color: orange;
}

/*******************QUIZZ**********************/
.collection .collection-item{
    font-size: 30px;
    font-weight: bold;
    color: orange;
}
.letter-reponse{
    color: cadetblue;
}

.reponses{
    color: coral;
    font-size: 20px;
}
/**************************REGEX******************************/
.vert{
    color: white;
    font-size: 24px;
    background-color: #24998d;
    padding: 10px;
}

.rouge{
    color: white;
    font-size: 24px;
    background-color: brown;
    padding: 10px;
}

/*******************CANVAS BLOCK*************/
#myCanvas{
    background-color: brown;
}

.block{
    position: absolute;
    display: inline-block;
}